[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/dashapp
Environment="PATH=/home/ubuntu/dashapp/venv/bin"
ExecStart=/venv/bin/gunicorn -b :8000 -w 4 --access-logfile - --error-logfile - dashboard:app.server
Restart=always

[Install]
WantedBy=multi-user.target