[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/dashapp
Environment="PATH=/home/dashapp/venv/bin"
ExecStart=/home/dashapp/venv/bin/gunicorn -b :8000 -w 4 --access-logfile - --error-logfile - dashboard:app.server
Restart=always

[Install]
WantedBy=multi-user.target